#cozybot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cozybot-try {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        margin-top: 0.1rem;
        cursor: pointer;
        border: 2px solid #000000;
        border-radius: 10px;
        transition: all 0.2s ease;
        transition-duration: 0.3s;
        padding: 12px 25px;
        background-color: #000000;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
        margin-bottom: 2rem;

        &:hover {
            transform: scale(1.05);
            color: black;
            background-color: white;
        }
    }

    #cozybot-try-bottom {
        margin-bottom: 5rem;
        margin-top: 3rem;
    }

    .dark & {

        .cozybot-try {
            margin-bottom: 2rem;
            border: 2px solid white;
            color: black;
            margin-top: 2rem;
            background-color: white;
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);

            &:hover {
                background-color: black;
                color: white;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    #cozybot {

        .cozybot-try {
            margin-bottom: 2rem;
        }
    
        #cozybot-try-bottom {
            margin-top: 2rem;
        }
    }
}