.nina-carducci {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 7rem;

    &-header {
        width: 20rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-logo {
            width: 3rem;
            height: 3rem;
            margin-left: 1rem;
        }

        &-title {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 35px;
        }
    }

    &-content {
        font-size: 18px;
        max-width: 50rem;

        &-li {
            margin: 1.5rem 0;
            line-height: 1.5rem;
        }
    }

    &-github {
        font-weight: 700;
        margin: 0 auto;
        background-color: black;
        border: none;
        color: white;
        padding: 15px 35px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        border-radius: 10px;
        text-decoration: none;
        transition: all 0.2s ease;
        transition-duration: 0.3s;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.200);
        border: 2px solid black;

        &:hover {
            background-color: white; 
            color: black;
            transform: scale(1.05);
        }
    }

    .dark & {

        &-header {

            &-title {
                color: white;
            }
        }

        &-content {
            color: white;
        }

        &-github {
            background-color: white;
            color: black;
            box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
            border: 2px solid rgb(255, 255, 255);

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}