#hackaprompt,
#cozybot,
#mcjavacmds,
#contact,
#articles,
#aboutme,
#article,
#project,
#skills,
#projects {
    max-width: 1400px;
    margin-inline: auto;
} 

.markdown-body {
    background-color:rgb(238, 238, 238);
    border-radius: 20px;
    margin: 2rem 10rem 2rem 10rem;
    text-align: justify;
    padding: 0 5rem;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

.back-arrow-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .back-arrow {
        width: 4rem;
        padding: 1.5rem;
        cursor: pointer;
        transition: all 0.2s ease;
        transition-duration: 0.4s;

        &:hover {
            transform: scale(1.3);
        }
    }
}