#hackaprompt,
#cozybot,
#mcjavacmds,
#contact,
#articles,
#aboutme,
#article,
#project,
#skills,
#projects {
    max-width: 1400px;
    margin-inline: auto;
} 

.markdown-body {
    background-color:rgb(238, 238, 238);
    border-radius: 20px;
    margin: 2rem 10rem 6rem 10rem;
    text-align: justify;
    padding: 2rem 5rem;
    font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}