.article {

    padding: 2.5rem 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    width: 40rem;


    &-title {
        font-size: 25px;
        color: black;
    }

    &-date {
        font-size: 15px;
        color: rgb(97, 97, 97);
        margin-top: 0;
    }

    &-description {
        font-size: 1rem;
        color: black;
        font-size: 20px;
        line-height: 1.6;
    }
}

@media screen and (max-width: 768px) {
    .article {
        width: 30rem;

        &-header {
            &-subtitle {
                font-size: 18px;
            }
        }

        &-description {
            font-size: 0.8rem;
        }

        &-icons {
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 550px) {
    .article {
        width: 20rem;
    }
}

@media screen and (max-width: 345px) {
    .article {
        width: 17rem;
    }
}