.card-container {
  border-radius: 10px;
  overflow: hidden;
  width: 244px;
  height: 337px;
  margin: 1rem;
  border: 5px solid #ff3636;
  transition: transform 0.3s ease-in-out;

  &:hover {
      transform: scale(1.03);
  }

  // Adding dynamic border color classes
  &.border-mountain { border-color: #009b53; }
  &.border-lake { border-color: #00ffdd; }
  &.border-city { border-color: #FF4136; }
  &.border-country { border-color: #FF851B; }
  &.border-sea { border-color: #0074D9; }
  &.border-ocean { border-color: #001f3f; }
  &.border-river { border-color: #7FDBFF; }
  &.border-desert { border-color: #ffee00; }
  &.border-island { border-color: #ba30e4; }
}


.card {
  width: 218px;
  height: 311px;
  background-color: white;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 20px;
  justify-content: space-between;

  &-title-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      .card-title {
        margin: 0 0 0.5rem 0;
        font-size: 17px;
    }
  }

  

  &-image-container {
      width: 100%;
      height: 800px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }

  &-details-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      text-align: left;
      width: 100%;
      padding: 1rem 0;

      .card-localisation {
          font-weight: 500;
      }
      
      .card-localisation,
      .card-detail {
          margin: 0.1rem 0;
          font-size: 14px; 
      }
  }
}

aside:before, aside:after {
  height: 0;
  width: 0;
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0;
}

aside {
  margin: 0.5rem 0;
  line-height: 34px;
  position: relative;
  background-color: var(--ribbon-bg-color);
  color: var(--ribbon-text-color);
  padding: 0 1rem;

  &:before, &:after {
      top: 3px;
      height: 0;
      width: 0;
      content: '';
      position: absolute;
      border-style: solid;
  }
  &:before {
      left: -33px;
      border-width: 17px;
      border-color: var(--ribbon-bg-color) var(--ribbon-bg-color) var(--ribbon-bg-color) transparent;
  }
  &:after {
      right: -33px;
      border-width: 17px;
      border-color: var(--ribbon-bg-color) transparent var(--ribbon-bg-color) var(--ribbon-bg-color);
  }
}
