.paperproof {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: 30rem;
    min-height: 7.3rem;
    margin: 3rem;
  
    &-image {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        transition: transform 0.2s;
        border-radius: 20px;
  
        &:hover {
            transform: scale(1.05);
        }
    }
  
    &-name {
        font-size: 1.2rem;
        color: #000000;
    }

    .dark & {
        
        &-image {
            box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.425);
        }
    }
}
  
@media screen and (max-width: 1200px) {
    .paperproof {
        min-width: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .paperproof {

      margin: 1rem;
      min-width: 1rem;
      max-width: 15rem;
    }
}