.project-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 10%;
  
    &-image {
        width: 3rem;
        height: auto;
        margin-bottom: 5px;
        transition: transform 0.2s;
  
        &:hover {
            transform: scale(1.05);
        }
    }

    .dark & {

        &-image {
            background-color: white;
            padding: 0.3rem;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 550px) {
    .project-icon {

        &-image {
            width: 2rem;
        }
    }
}

@media screen and (max-width: 350px) {
    .project-icon {

        &-image {
            width: 1.5rem;
        }
    }
}
  