.project {

    padding: 2.5rem 0;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    width: 40rem;
    display: flex;
    flex-direction: column;


    &-header {

        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        &-container1 {
            display: flex;
            align-items: center;
        }

        &-logo {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            border-radius: 8px;
        }

        &-title {
            font-size: 30px;
            color: black;
        }

        &-subtitle {
            margin: 0;
            color: black;
            font-size: 23px;
        }
    }

    &-date {
        font-size: 15px;
        color: rgb(97, 97, 97);
        margin-top: 0;
    }

    &-description {
        font-size: 1rem;
        color: black;
        font-size: 20px;
        line-height: 1.6;
    }

    &-image {
        width: 100%;
        padding-bottom: 1rem;

        &-img {
            width: 100%;
            border-radius: 20px;
        }
    }

    &-icons {
        display: flex;

    }
}
