.techno-icon {
    margin: 0.7rem 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-width: 5rem;
    min-height: 7.3rem;
    width: 1%;
  
    &-image {
        width: 3rem;
        height: auto;
        margin-bottom: 5px;
        transition: transform 0.2s;
  
        &:hover {
          transform: scale(1.05);
        }
    }
  
    &-name {
        font-size: 0.8rem;
        color: #000000;
        min-width: 7rem;
        text-align: center;
        margin: 0;
    }

    &-star-container {
        margin-bottom: 1rem;
    }

    &-star {
        width: 0.7rem;
    }

    .dark & {
        
        &-image {
            background-color: white;
            padding: 0.5rem;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.425);
        }

        &-name {
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    .techno-icon {
        padding: 0;

        &-image {
            width: 3rem;
        }

        &-name {
            font-size: 0.8rem;
        }

        &-star {
            width: 0.8rem;
        }
    }
}
  