.dihiawrap {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

.darkMode {
  background-color: #000000; /* Dark background */
  color: #ffffff; /* Light text */
}

.title {
    color: #000000;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.darkMode .title {
  color: white;
}
  
.container {
    max-width: 100rem;
    width: 100%;
    background-color: rgba(235, 235, 235, 0.8);
    padding-left: 5rem;
    border-radius: 20px;
    padding-bottom: 2rem;
    z-index: 2;
    margin: 0 2rem;
}

.darkMode .container {
  background-color: rgba(24, 24, 24, 0.8);
}
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  

  
  .slideanimation:hover {
      font-size: 30px;
  }
  
  
  
  /* SLIDE ANIMATION  */
  
   .slideanimation {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    text-align: left;
    font-size: 16px;
    transition: font-size 0.2s;
    cursor: default;


    animation-duration: 0.2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } 
  
  /* ANIMATION */
  
  .backgroundwrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  /* KEYFRAMES */
  
  @-webkit-keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }
  
  @-moz-keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }
  
  @-o-keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }
  
  @keyframes animateBubble {
    0% {
      margin-top: 1000px;
    }
    100% {
      margin-top: -100%;
    }
  }
  
  @-webkit-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @-moz-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @-o-keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: 50px;
    }
  }
  
  /* ANIMATIONS */
  
  .x1 {
    -webkit-animation: animateBubble 30s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 30s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 30s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  
    left: -5%;
    top: 5%;
  
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  .x2 {
    -webkit-animation: animateBubble 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  
    left: 5%;
    top: 80%;
  
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  
  .x3 {
    -webkit-animation: animateBubble 40s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 40s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 40s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  
    left: 10%;
    top: 40%;
  
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
  }
  
  .x4 {
    -webkit-animation: animateBubble 60s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 60s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 60s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
  
    left: 20%;
    top: 0;
  
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  .x5 {
    -webkit-animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  
    left: 30%;
    top: 50%;
  
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  
  .x6 {
    -webkit-animation: animateBubble 45s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 45s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 45s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  
    left: 50%;
    top: 0;
  
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
  
  .x7 {
    -webkit-animation: animateBubble 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  
    left: 65%;
    top: 70%;
  
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
  }
  
  .x8 {
    -webkit-animation: animateBubble 20s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite,
      sideWays 3s ease-in-out infinite alternate;
  
    left: 80%;
    top: 10%;
  
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  .x9 {
    -webkit-animation: animateBubble 50s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 50s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 50s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  
    left: 90%;
    top: 50%;
  
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
  }
  
  .x10 {
    -webkit-animation: animateBubble 26s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
  
    left: 80%;
    top: 80%;
  
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
  }
  
  /* OBJECTS */
  
.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    -webkit-box-shadow: 0 20px 30px rgba(255, 255, 255, 0.1),
      inset 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 20px 30px rgba(255, 255, 255, 0.1),
      inset 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 30px rgba(255, 255, 255, 0.1),
      inset 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
  
    height: 200px;
    position: absolute;
    width: 200px;
}

.darkMode .bubble {
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),
      inset 0px 10px 30px 5px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),
      inset 0px 10px 30px 5px rgba(255, 255, 255, 0.5);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1),
      inset 0px 10px 30px 5px rgba(255, 255, 255, 0.5);
}
  
.bubble:after {
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, rgba(0, 0, 0, 0.3)),
      color-stop(70%, rgba(0, 0, 0, 0))
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
    background: -o-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 70%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4Cffffff', endColorstr='#00ffffff',GradientType=1 );
  
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  
    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}

.darkMode .bubble:after {
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -webkit-gradient(
      radial,
      center center,
      0px,
      center center,
      100%,
      color-stop(0%, rgba(255, 255, 255, 0.3)),
      color-stop(70%, rgba(255, 255, 255, 0))
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -o-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 70%
    );
}


@media screen and (max-width: 1200px) {
    .container {
        padding-right: 5rem;
    }
}

@media screen and (max-width: 768px) {
  .container {
      padding-left: 2rem;
      padding-right: 2rem;
  }
}