
/*
* === HEADER ===
*/

.header {
    padding: 0 0 0.3rem 0;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    

    nav {
        height: 3rem;
        display: flex;
        width: 100%;
        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            list-style: none;
            padding-left: 0;

            li {

                a {
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    font-size: larger;
                    padding: 1rem 1rem 0.95rem 1rem;
                    margin: 1rem;
                    transition-duration: 0.4s;


                    &:hover {
                        cursor: pointer;
                        background-color: white;
                        transform: scale(1.1);
                        color: black;
                    }
                }
            }
        }
    }
}

/*
* === FOOTER ===
*/

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
}