
.layout {

    display: flex;
    flex-direction: column;
    min-height: 100vh;

        /*
    * === HEADER ===
    */

    &-header {
        background-color: black;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0;
        

        nav {
            height: 3rem;
            display: flex;
            width: 100%;
            ul {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                list-style: none;
                padding-left: 0;

                li {
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 600;
                        font-size: larger;
                        padding: 1.15rem 1rem 1.12rem 1rem;
                        margin: 0 1rem;
                        transition-duration: 0.2s;


                        &:hover {
                            cursor: pointer;
                            background-color: white;
                            transform: scale(1.1);
                            color: black;
                        }
                    }
                }
            }
        }

        &-title {
            color: white;
            font-size: 20px;
            margin-left: 2rem;
        }
    }

    &-main {
        flex: 1;
    }

    /*
    * === FOOTER ===
    */

    &-footer {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        background-color: black;
        position: relative;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.473);
        flex-direction: column;

        &-links {
            display: flex;
            margin-top: 1rem;
        }

        &-link {
            margin: 1rem;
            border-radius: 10px;
            cursor: pointer;
            background-color: rgb(255, 255, 255);

            &-img {
                width: 2rem;
                height: 2rem;
                vertical-align: middle;
                border-radius: 10px;
                padding: 0.15rem;
            }
        }
    }
}