.home {
    color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
        text-align: center;
        margin-bottom: 40px;
        display: flex;
        align-content: center;
        margin-top: 8rem;
        justify-content: center;
        width: 100%;

        &-text {
            margin-right: 3rem;
        }

        &-title {
            font-size: 2.5rem;
            color: #ff3b2d;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        &-subtitle {
            font-size: 19px;
            margin: 0;
            font-weight: 500;
        }

        &-location {
            font-weight: 400;
            margin: 0;
            font-size: 15px;
        }

        &-bio {
            font-size: 1rem;
            line-height: 1.6;
            max-width: 30rem;
        }

        &-profilepic {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            border: 5px solid #ff3b2d;
            margin-left: 3rem;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &-social {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 7rem;

        &-links {
            display: flex;
        }

        &-link {
            margin: 1rem;
            cursor: pointer;

            &-img {
                width: 3rem;
                height: 3rem;
                vertical-align: middle;
                border-radius: 10px;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-skills {

        &-titles {
            font-size: 22px;
            margin-top: 3rem;
            font-weight: 500;
        }

        &-category {
            display: flex;
            margin-bottom: 3rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-certifications, &-trainings, &-skills {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 7rem;
        border-top: 2px solid black;
        width: 50%;
        margin: 0 3rem 7rem 3rem;

        &-title {
            font-size: 35px;
        }
    }

    &-certifications {

        &-subtitle {
            font-size: 22px;
            margin-top: 3rem;
        }

        &-certifs, &-certificates {
            display: flex;
            margin-bottom: 3rem;
            justify-content: space-between;
            align-items: center;
        }
    }
}
