.home {
    color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-header {
        text-align: center;
        margin-bottom: 40px;
        display: flex;
        align-content: center;
        margin-top: 8rem;
        justify-content: center;
        width: 100%;

        &-text {
            margin-right: 3rem;
        }

        &-title {
            font-size: 2.5rem;
            color: #ff3b2d;
            margin-top: 1rem;
            margin-bottom: 0;
        }

        &-subtitle {
            font-size: 19px;
            margin: 0;
            font-weight: 500;
        }

        &-location {
            font-weight: 400;
            margin: 0;
            font-size: 15px;
        }

        &-bio {
            font-size: 1rem;
            line-height: 1.6;
            max-width: 30rem;
        }

        &-profilepic {
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            border: 5px solid #ff3b2d;
            margin-left: 3rem;
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &-social {
        display: flex;
        align-items: center;
        flex-direction: column;

        &-links {
            display: flex;
        }

        &-link {
            margin: 1rem;
            cursor: pointer;

            &-img {
                width: 3rem;
                height: 3rem;
                vertical-align: middle;
                border-radius: 10px;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-languages {
        display: flex;
        flex-direction: column;
        margin-bottom: 7rem;
        margin-top: 3rem;
        align-items: center;

        &-icon {
            width: 5rem;
            height: auto;
        }

        &-flags {
            margin-top: 1rem;

            &-img {
                width: 3rem;
                margin: 0 1rem;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-skills {

        &-titles {
            font-size: 22px;
            margin-top: 1rem;
            font-weight: 500;
        }

        &-category {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-certifications, &-trainings, &-skills {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 7rem;
        border-top: 2px solid rgb(212, 212, 212);
        width: 70%;
        margin: 0 3rem 7rem 3rem;

        &-title {
            font-size: 35px;
        }
    }

    &-certifications {

        &-subtitle {
            font-size: 35px;
            margin-top: 3rem;
            text-align: center;
        }

        &-certifs, &-certificates, &-professional-title {
            display: flex;
            margin-bottom: 3rem;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    .dark & {

        &-header {

            &-title {
                color: ff3b2d;
            }

            &-subtitle, &-bio, &-location {
                color: white;
            }
        }

        &-social {
            
            &-link {
                background-color: white;
                padding: 0.2rem;
                border-radius: 10px;
            }
        }

        &-skills {

            &-title {
                color: white;
            }
        }

        &-certifications, &-trainings, &-skills {
            border-top: 2px solid rgb(59, 59, 59);
            color: white;

            &-title {
                color: white;
            }
        }

        &-certifications {

            &-subtitle {
                color: white;
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .home {

        &-certifications, &-trainings, &-skills {
            width: 80%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .home {

        &-header {

            &-text {
                margin-right: 0;
            }

            &-profilepic {
                margin-left: 1rem;
            }

            &-bio {
                width: 100%;
            }
        }

        &-certifications {

            &-certifs, &-certificates, &-professional-title {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home {

        &-header {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 4rem;

            &-profilepic {
                width: 10rem;
                height: 10rem;
            }
        }

        &-social {

            &-links {
                flex-wrap: wrap;
                max-width: 20rem;
                justify-content: center;
            }
        }

        &-certifications, &-trainings, &-skills {
            margin: 0 0 7rem 0;
        }

        &-certifs, &-certificates, &-professional-title {
            width: 60%;
        }
    }
}