// Base styles for the quiz container
.http-errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    &-img {
        width: 20rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 3rem;
    }
  
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        &-input {
            padding: 0.7rem;
            margin-bottom: 3rem;
            border: 2px solid #e2e2e2;
            border-radius: 5px;
            width: 100%;
            max-width: 300px;
            font-size: 15px;
  
            &:focus {
                border-color: #ff3b2d;
                outline: none;
            }
        }
    
        &-button {
            font-weight: 700;
            background-color: #ff3b2d;
            border: none;
            color: #ffffff;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 19px;
            cursor: pointer;
            border-radius: 10px;
            transition: 0.2s ease;
  
            &:hover {
                background-color: #000000; 
                color: rgb(255, 255, 255);
                transform: scale(1.04);
            }
        }
    }
}
  
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &-list {
        list-style-type: none;
        padding: 0;
  
        &-item {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
  
            &-img {
                width: 5rem;
                height: 5rem;
                margin-right: 2rem;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
  
            &-text {

                &-your-answer {
                    font-size: 18px;
                }

                &-correct-answer {
                    font-size: 18px;
                }
            }
        }
    }

    &-title {
        font-size: 24px;
        color: #000000;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
  
    &-restart-button {
        font-weight: 700;
        margin: 0 auto;
        background-color: #ff3b2d;
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 19px;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 3rem;
        transition: 0.2s ease;
  
        &:hover {
            background-color: #000000; 
            color: rgb(255, 255, 255);
            transform: scale(1.04);
        }
    }
}
  