.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
    margin-bottom: 4rem;

    &-link {
        text-decoration: none;
        padding: 0 2.5rem;
        border: 2px solid white;
        transition-duration: 0.3s;
        border-radius: 20px;
        margin-top: 1rem;

        &:hover {
            
            border: 2px solid rgb(255, 0, 0);
            border-radius: 20px;
            transform: scale(1.01);
        }
    }

    &-title {
        font-size: 35px;
        font-weight: 550;
    }
}


