body {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




body {
  scrollbar-width: thin; 
  scrollbar-color: #4b4b4b #f1f1f1;
}

body {
  position: sticky;
  top: 0; 
  right: 0; 
  overflow-y: scroll;
}




body::-webkit-scrollbar {
  width: 6px ; 
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3; 
}




body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #4b4b4b transparent; /* Thumb color and transparent track */
}